/*--- Tamanho de fonte ----*/
@mixin font-size($size) {


    @if $size == small {
        font-size: 0.875rem;
    }
    /*---- Padrão ----*/
    @else if $size == normal {
        font-size: 1.125rem;
    }

    /*---- h1 ----*/
    @else if $size == cb1 {
        font-size: 2.187rem;
    }

    /*---- h2 ----*/
    @else if $size == cb2 {
        font-size: 1.75rem;
    }

    /*--- h3 ---*/
    @else if $size == cb3 {
        font-size: 1.375rem;
    }

}

/*Cabeçalho*/
@mixin headers($size) {
    
    /*---- H1 ----*/
    @if $size == t1 {
        font-size: 2.3rem;
        margin: 0;
    }

    /*---- H2 ----*/
    @else if $size == t2 {
        font-size: 1.8rem;
        margin: 0;
    }

    /*---- H3 ----*/
    @else if $size == t3 {
        font-size: 1.5rem;
        margin: 0;
    }

    /*---- H4 ----*/
    @else if $size == t4 {
        font-size: 1.150rem;
        margin: 0;
    }
    
    /*---- H5 ----*/
    @else if $size == t5 {
        font-size: 0.875rem;
        margin: 0;
    }
}

/*---- transições ----*/
@mixin transition($transition...) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -webkit-animation: $transition;
}

/*---- Trasnform ----*/
@mixin transform($transform...) {
    transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
}

/*---- RESPONSIVO ----*/
@mixin resp($screen) 
{
    
    @if $screen == mobile {
        @media (max-width:576px) {
            @content;
        }
    }

    @else if $screen == tablet {
        @media (max-width: 768px) {
            @content;
        }
    }

     @else if $screen == notebook {
         @media (max-width: 992px) {
             @content;
         }
     }

    @else if $screen == desktop {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if screen == desktoplarge {
        @media (min-width: 1200px) {
            @content;
        }
    }
}