/*---- Cores Padrão ----*/
$color-d1: #ec3059;
$color-d2: #ef4c53;
$color-d3: #f58634;
$color-d4: #606062;

/*---- Cores ----*/
$cinza-claro: #f4f4f4;
$cinza-medio: #cccccc;
$cinza-escuro: #424242;
$cor-padrao: #212530;
$cor-secondary: #292d38;
$cor-white: #ffffff;

/*---- Fonte ----*/
$font-source: "Source Sans Pro", sans-serif;
$font-jetbrains: "JetBrains Mono", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;