/*---- ubuntu ----*/
@font-face {
    font-family: "Ubuntu", sans-serif;
    src: url('../fontes/ubuntu/Ubuntu-Light.ttf') format('truetype');
}

/*---- JetBrains Mono ----*/
@font-face {
    font-family: "JetBrains Mono";
    src: url('../fontes/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot'),
         url('../fontes/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fontes/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
         url('../fontes/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
         url('../fontes/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url( '../fontes/sourcesanspro/SourceSansPro-Regular.ttf' ) format( 'truetype' );
}