@import "pointcom-fontes";
@import "pointcom-variables";
@import "pointcom-mixins";

html, body {
    height: 100%;
}

body {
    font-family: $font-source;
    @include font-size(normal);
    font-weight: 300;
    letter-spacing: 0.0625rem;
}

/* Track */
::-webkit-scrollbar {
    width: .8em;
    height: .6rem;
}
::-webkit-scrollbar-track {
    background:$cor-padrao;     
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-d1;
    background-image: linear-gradient(
        155deg,
        $color-d1 0%,
        $color-d3 100%,
    );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $cinza-medio; 
} 
::selection {
    background: $color-d1;
    background-image: linear-gradient(
        155deg,
        $color-d1 0%,
        $color-d3 100%,
    );
    color: $cor-white;
}
::-moz-selection {
    background: $color-d1;
    background-image: linear-gradient(
        155deg,
        $color-d1 0%,
        $color-d3 100%,
    );
    color: $cor-white;
}

strong, b {
    font-weight: 700;
}


a:focus,
a:hover,
.btn:focus,
button:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

p {
    line-height: 2rem;
}

h1 {
    @include headers(t1);
}

h2 {
    @include headers(t2);
}

h3 {
    @include headers(t3);
}

h4 {
    @include headers(t4);
}

h5 {
    @include headers(t5);
}


#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.container {
    max-width: 1240px;
}


/*---- header ----*/
header {
    background-color: $cor-white;
    color: $cor-padrao;
    padding: 30px 0;
    @include transition(all .3s);

    &.fix-header {
        box-shadow: 0 0 15px $cinza-medio;
        @include transition(all .3s);
    }

    .navbar {
        padding: 0;
    }

    .link-menu {
        color: $cinza-escuro;
        padding: 8px 20px;
        text-transform: uppercase;
        @include headers(t5);  
        font-weight: 700;
        outline: 0; 
        width: 100%;       
    }

    @include resp(mobile) {
        .pointcom-menu {
            padding: 0 30px;
            .dropdown {
                height: 30px;
                min-height: 30px;
    
                .show {
                    height: auto;
                }
            }
        }
    }

    @include resp(tablet) {
        .pointcom-menu {
            padding: 0 30px;
            .dropdown {
                height: 30px;
                min-height: 30px;
    
                .show {
                    height: auto;
                }
            }
        }
    }

    .nav-item {
        .btn-info {
            background: $color-d1;
            background-image: linear-gradient(
                135deg,
                $color-d1 0%,
                $color-d3 100%,
            );
            border-color: transparent;
            color: $cor-white;
            box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
        }

        &:hover > .submenu {
            display: block;
            @include transition ( all .3s );
            @include transform( translate3d(0px, 0px, 0px));
        }

    }

    .navbar-nav > li > .dropdown-menu {
        border: 0;
        border-radius: 0;
        padding: 0;
        margin-top: 0;
        display: block;
        transform: scale(0);
        transition: ease-out 0.2s;
        background: $color-d1;
        background-image: linear-gradient(
            135deg,
            $color-d1 0%,
            $color-d1 49%,
            $color-d2 50%,
            $color-d2 100%,
        );
        box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
        color: $cor-white;

        a {
            color: $cor-white;
            display: flex;
            padding: 10px 20px 10px;
            width: auto;
            font-size: .875rem;

            &:hover {
                background: rgba(156, 41, 41, 0.3);
            }
        }
    }

    .dropdown:hover .dropdown-menu {
        transform: scale(1);
    }

    @include resp(mobile){
        .pointcom-logotipo {

            img {
                width: 220px;
            }
        }
        .navbar-toggler {
            border: 0;
            @include headers(t3);
            
            i {
                color: $cor-white;
            }
        }
    }

}

/*---- Menu Hamburger SVG ----*/
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;

    .line {
        fill: none;
        stroke: $color-d1;
        stroke-width: 4;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 4;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 4;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 4;
    }
}


.opened {
    
    .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
}
  
  
/*---- Conteudo ----*/
.link-custom {
        color: $cor-padrao;
        @include transition( all 0.3s );
    
        &:not(.button):hover {
            background: linear-gradient(
                90deg,
                $color-d3,
                $color-d1,
            );
            background-clip: text;
            box-decoration-break: clone;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            text-shadow: none;
        }
    
        &:hover {
            @include transition( all 0.3s );
        }
}

.btn-padrao {
    background: $color-d1;
    background-image: linear-gradient(
        135deg,
        $color-d1 0%,
        $color-d3 100%
    );
    border-color: $color-d1;
    color: $cor-white;
    padding: 15px 40px;
    border-radius: 5px;
    display: inline-flex;
    margin: 10px 0;
    @include font-size(small);
    @include transition( all .3s );
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        color: $cor-white;        
        box-shadow: rgba(55,56,60,0.25) 0px 8px 24px;
        @include transition( all .3s );
    }
}

/*---- SEÇÃO PRINCIPAL ----*/
.secoes {

    display: flex;
    padding: 100px 30px;

    .box-small {
        padding: 0 30px;
    }

    .box-medium {
        padding: 0 50px;
    }

    .box-large {
        padding: 0 100px;
    }
    
    &.principal {
        margin-top: 50px;
    }

    &.segunda {
        background-color: $cor-white;
        text-align: center;

        .box-content-home {
            padding: 50px 0;

            span {
                margin-bottom: 20px;
                background: linear-gradient(
                        90deg,
                        $color-d3,
                        $color-d1,
                    );
                font-size: 3.5rem;
                background-clip: text;
                box-decoration-break: clone;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                text-shadow: none;
                @include transition(all .3s);

                &:hover {
                    @include transition(all .3s);
                    background: linear-gradient(
                        90deg,
                        $color-d1,
                        $color-d3,
                    );

                    background-clip: text;
                    box-decoration-break: clone;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-box-decoration-break: clone;
                    box-decoration-break: clone;
                    text-shadow: none;
                }
            }

            h3 {
                margin-bottom: 20px;
            }
        }
    }

    &.terceira {
        text-align: center;
        p {
            margin-bottom: 50px;
        }
        
        .square-image {
            max-width: 900px;
            margin: auto; 
            background-color: $cor-padrao;
            cursor: pointer;
        }

        .square-image img {
            @include transition(all .3s);
        }

        .square-image:hover img {
            opacity: .5;
            @include transition(all .3s)
        }
        .square-image:hover .material-icons-outlined {
            transform: scale(1.2);
        }
        .square-image .material-icons-outlined {
            position: absolute;
            z-index: 1;
            background-image: linear-gradient(
                45deg, 
                $color-d1 15%, 
                $color-d3 65%
            );
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition-timing-function: cubic-bezier(.25, .25, .75, .75);
            transition-duration: 0.3s;
            transition-property: opacity, transform;
            font-size: 15rem;
        }

        .modal-content {
            background: rgba(0, 0, 0, 0.7);
            border-radius: 0;
            padding: 0;

            iframe {
                width: 100%;
                height: 50vh;
                display: flex;
            }

            .close {
                color: $cor-white;
                position: absolute;
                right: 0px;
                padding: 10px 15px;
                background: $cor-padrao;
                opacity: 1;
                top: -45px;
            }

            .modal-body {
                padding: 0;
            }
        }
    }

    &.left {        
        position: relative;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 0;
            width: 50%;
            border-bottom: 1px dashed $cinza-medio;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: -50px;
            left: 50%;
            left: calc(50% - 2.5px);
            width: 5px;
            height: 100px;
            background-image: linear-gradient(
                45deg, 
                $color-d1 15%, 
                $color-d3 65%
            );
        }
    }

    &.right {        
        position: relative;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 100%;
            right: 0;
            width: 50%;
            border-bottom: 1px dashed $cinza-medio;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: -50px;
            left: 50%;
            left: calc(50% - 0px);
            width: 5px;
            height: 100px;
            background-image: linear-gradient(
                45deg, 
                $color-d1 15%, 
                $color-d3 65%
            );
        }
    }

    h1 {
        line-height: 3rem;
        font-weight: 800;
        margin: 20px 0;
        display: inline-flex;
    }

    h4 {
        margin: 10px 0 20px 0;
        color: $cinza-escuro;
        display: inline-flex;
    }
}

.secao-newsletter {
    text-align: center;
    color: $cinza-claro;
    padding: 50px;
    background: $color-d1;
    background-image: linear-gradient(
        155deg,
        $color-d1 0%,
        $color-d3 50%,
        $color-d2 100%,
    );
    @include transition(all .3s);

    &:hover {
        background-image: linear-gradient(
            155deg,
            $color-d2 0%,
            $color-d3 50%,
            $color-d1 100%,
        );
        @include transition(all .3s);
    }
}

/*---- Price Box ----*/
.price-box {
    text-align: center;
    margin-bottom: 50px;

    h1 {
        font-weight: 800;
        display: inline-flex;
    }
}

.box-col-price {

    background-color: $cinza-claro;
    padding: 30px 15px;
    text-align: center;
    border: 2px solid;
    border-color: transparent;
    @include transition(all .3s);

    h2 {
        text-transform: uppercase;
        font-weight: 800;
    }

    .currency {
        margin: 20px 0 20px 0 !important;
        font-weight: 800;
        font-size: 3.5rem;
        font-family: $font-ubuntu;

        small {
            @include font-size(small);
            font-weight: 300;
            display: inline-flex;
            position: relative;
            top: -12px;
        }
    }

    .box-info-price {
        margin-bottom: 15px;

        h4 {
            margin: 10px 0 0;
            font-weight: 600;
        }
    
        span {
            font-size: 0.875rem;
            display: flex;
            font-weight: 300;
        }
    }

    &:hover {
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-color: $color-d1;
        
        @include transition(all .3s);
    }

    &.destaque {
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-color: $color-d1;
        
        @include transition(all .3s);
    }
    
}

.info-price-home {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/*---- Notícias ----*/
.noticias {

    .titulo-nt {
        text-align: center;
    }

    .box-info-nt {
        background: $color-d1;
        background-image: linear-gradient(
            155deg,
            $color-d1 0%,
            $color-d3 50%,
            $color-d2 100%,
        );
        @include transition(all .3s ease);

        .content-info-nt {
            overflow: hidden;
            background-color: $cinza-claro;

            h2 {
                padding: 10px;
                @include font-size(cb3);
                font-weight: 600;
            }

            p {
                padding: 10px;
                line-height: 25px;
                font-weight: 300;
            }
        }

        
        
        .footer-nt {
            text-align: center;
            padding: 0 0 25px 0;
        }
    }

    .info-int-not {
        text-align: center;
        padding: 50px 0 0 0;
    }
}

.breadcrumb {
    background-color: $cinza-claro;
    padding: 50px 0;
    margin-top: 130px;
    text-align: center;

    p {
        margin: 0;
    }
}

/*---- Assinar ----*/
.assinar {
    padding: 50px 0;

    .chamada-assinar {
        text-align: center;
        
        h2 {
            @include headers(t1);
            font-weight: 600;
        }
    }
}

.faq {
    padding: 50px 0;

    .titulo-faq {
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .accordion {
        border-radius: 0;
        .card {
            border:0;
            border-radius: 0;
            margin-bottom: 10px;

            @include transition(all .3s ease);
            
            .card-header {
                padding: 0; 
                background: $color-d1;
                background-image: linear-gradient(
                    90deg,
                    $color-d1 0%,
                    $color-d3 50%,
                    $color-d2 100%
                );
                border: 0;
    
                .btn-link {
                    padding: 1.8rem; 
                    color: $cor-white !important;
                    text-transform: uppercase;
                    font-weight: 600;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:first-child {
                    border-radius: 0;
                }
            }

            .card-body {
                background-color: $cinza-claro;
                border-left: 2px solid;
                border-right: 2px solid;
                border-bottom: 2px solid;
                border-color: $color-d1;
                @include transition(all .3s ease);
            }
        }
    }
}

/*---- Petições ----*/
.busca-peticoes {
    padding: 50px 0;
    background-color: $cinza-claro;
    margin-top: 130px;
    
    .chamada-peticoes {
        text-align: center;
        
        h1 {
            font-weight: 600;
        }
    }

    .pointcom-form {
        margin: 15px 0 0 0;
        position: relative;

        input {
            height: 70px;
            border: 0;
            width: 100%;
            padding: 15px 30px;
            border-radius: 6px;
            box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
            outline: none;
        }

        .btn-search {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            width: 70px;
            height: 70px;
            align-items: center;
            justify-content: center;
            

            span {
                font-size: 3rem;
                background: linear-gradient(
                        90deg,
                        $color-d3,
                        $color-d1,
                    );
                background-clip: text;
                box-decoration-break: clone;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                text-shadow: none;
                @include transition(all .3s);

                &:hover {
                    @include transition(all .3s);
                    background: linear-gradient(
                        90deg,
                        $color-d1,
                        $color-d3,
                    );

                    background-clip: text;
                    box-decoration-break: clone;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-box-decoration-break: clone;
                    box-decoration-break: clone;
                    text-shadow: none;
                }
            }
        }
    }

    .chamada-filtro {
        margin: 0;
    }

    .pointcom-dropdown {
        margin: 0;

        .btn-padrao {
            padding: 5px 20px;
            align-items: center;
        }

        .dropdown-menu {
            margin: 0;
            padding: 0;

            .dropdown-item {
                padding: 10px 20px;

                &:hover {
                    background-color: $color-d1;
                    color: $cor-white;
                }
            }
        }
    }
}

.listagem-peticoes {
    padding: 50px 0;

    .box-listagem-peticoes {
        border-bottom: 3px solid;
        border-color: $color-d1;
        padding: 10px;
        background-color: $cinza-claro;
        @include transition (all .3s ease);
        border-radius: 6px;
        margin-bottom: 30px;

        .ch-peticoes {
            text-transform: uppercase;
            
            span {
                font-size: 0.775rem;
                width: 70%;
                display: inline-flex;
                color: $color-d3;

                &:nth-child(2) {
                    width: 28%;
                    justify-content: flex-end;
                }
            }
        }

        h4 {
            margin: 10px 0;
            font-weight: 600;
            @include font-size(small);
            color: $cor-padrao;
        }

        &:hover {
            @include transition (all .3s ease);
            box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
        }
    } 
}

/*---- Footer ----*/
footer {
    padding: 30px 0 0 0;
    background-color: $cor-padrao;
    color: $cor-white;

    h2 {
        margin-bottom: 20px;
        @include font-size(cb3);
        text-transform: uppercase;

        &::after {
            content: '';
            width: 60px;
            height: 2px;
            background-color: $color-d3;
            display: flex;
            margin-top: 10px;
        }
    }
    
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                color: $cor-white;
                display: flex;
                @include transition(all .3s ease);
                padding: 5px 10px;

                &:hover {
                    color: $color-d3;
                    @include transition(all .3s ease);
                }
            }
        }
    }

    .copyright {
        @include font-size(small);
        margin-top: 20px;
        padding: 15px 0;
        background-color: $cor-secondary;

        .copy-terms {
            text-align: right;
            display: inline-flex;
        }

    }

    a {
        color: $cor-padrao;
        font-weight: 600;
    
        &:not(.button):hover {
            background: linear-gradient(
                90deg,
                $color-d1 0%,
                $color-d3 50%,
                $color-d2 100%,
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            text-shadow: none;
        }
    }
}

/*---- Voltar ao topo ----*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    @include transition( all .3s ease );
    z-index: 999;

    span {
        color: $cor-white;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        @include transition( all .3s ease );

        &:hover {
            color: $cor-white;
            top: 5px;
        }
    }
    &::hover {
        background: rgba(0, 0, 0, 0.9);
    }
}