@charset "UTF-8";
/*---- Cores Padrão ----*/
/*---- Cores ----*/
/*---- transições ----*/
/*--- Tamanho de fonte ----*/
/*Cabeçalho*/
/*BOTÃO*/
.btn-padrao {
  background: #ec3059;
  background-image: linear-gradient(135deg, #ec3059 0%, #f58634 100%);
  border-color: #ec3059;
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 5px;
  display: inline-flex;
  margin: 10px 0;
  font-size: 0.875rem;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -webkit-animation: all 0.3s;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-padrao:hover {
  color: #ffffff;
  box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -webkit-animation: all 0.3s;
}

/*link*/
.link-custom {
  color: #212530;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -webkit-animation: all 0.3s;
}
.link-custom:not(.button):hover {
  background: linear-gradient(90deg, #f58634, #ec3059);
  background-clip: text;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}
.link-custom:hover {
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -webkit-animation: all 0.3s;
}